{% extends 'nector_home/base.html' %}

{% block content %}
<div class="content">
<h1>What is NECTOR?</h1>
<p>
NECTOR is an Open Source SIEM tool backed by IDMEF Messaging Standard. It has a configurable Rules based engine for intrusion detection and  vulnarabilities. Its event based architecture helps in detecting and raising events to be integrated with subscribing systems.  
</p>
<p>
NECTOR is an open source successor to the HECTOR project, both of which have
been sponsored by the University of Pennsylvania School of Arts and Sciences.
NECTOR is a powerful and expandable framework used in the collection, analysis,
and sharing of security intelligence information.
</p>
<p>
NECTOR's intuitive web-based frontend allows for easy data analysis, scan
configuration, incident reporting, open source intelligence, and more.
</p>
</div>
{% endblock %}
